@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: url(imgs/dark_wood.png) repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

***********************************************************************
***********************************************************************
***********************************************************************
^^^^^^^^^^^^^^^^^^^^^^^^RESET CSS3^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
***********************************************************************
***********************************************************************
**********************************************************************/

body {
	padding:0px;
	margin:0px;
}
@font-face {
	font-family: Steelfish;
	src:url(fonts/steelfish%20rg.otf);	
}

#back_header {
	width:100%;
	height: 85px;
	margin:0px;
	padding:0px;
	position: relative;
	background-color:#000;	
}
header {
	width:690px;
	height: 60px;
	top: 25px;
	position: relative;
}
#logo {
	margin-left: 20px;
	position: absolute;	
}

#container {
	width: 690px;
	height: 100%;
	margin-left:auto;
	margin-right:auto;/*
	padding-top:210px;	*/
	-moz-box-shadow: 0 0 300px 40px #888;
	-webkit-box-shadow: 0 0 300px 40px #888;
	box-shadow: 0 0 300px 40px #000;
	z-index:0px;
}
#sub_container {
	width: 650px;
	margin-left:auto;
	margin-right:auto;
	/*padding-top: 50px;*/
	background-color:#fff;	
	-moz-box-shadow: 0 0 300px 40px #888;
	-webkit-box-shadow: 0 0 300px 40px #888;
	box-shadow: 0 0 300px 40px #000;
/*	z-index: 100;*/
}
nav {
	width: 650px;
	margin: 0 auto 0 auto;
	background: #45484d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

}

nav ul{
	display: inline-block;
	width: 560px;
	margin-left:40px;
}
nav ul li {
	
	color: #DEF2F3;
	display: inline-block;
	list-style: none;
	font: 300 18px Lato, Arial, Helvetica, sans-serif;
	
}

nav ul li a{
	text-decoration:none;
	color: #DEF2F3;
	padding: 5px 30px 10px 30px;
	display:block;
}

nav ul li a:hover{
	display:block;
	text-decoration:none;
	color: #DEF2F3;
	background: #161719; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2MTcxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #161719 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161719), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #161719 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #161719 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #161719 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #161719 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161719', endColorstr='#000000',GradientType=0 ); /* IE6-8 */



}

#left_slider_wrap {
	top:246px;
	position:absolute;
	z-index:-10px;
}
#right_slider_wrap {
	float:right;
	top:0px;
	right:0px
	position:absolute;
	z-index:-10px;
}
/*#slider {
	width: 690px;
	height: 324px;
	top: 130px;
	position: absolute;
	z-index: 1000;
	background: url(imgs/bridge_color.jpg) no-repeat center center;
	/*background: url(imgs/bridge_bw.jpg) center center;
}*/
#sub_header {
	width: 100%;
	margin: 0 0 100px 0;
	padding-top: 15px;
	background-color: #f3f2f2;
	-moz-box-shadow: 0 2px 10px #888;
	-webkit-box-shadow: 0 2px 10px #888;
	box-shadow: 0 2px 10px #888;
	z-index: 100;
	font: lighter 34px Steelfish, Arial, Helvetica, sans-serif;
	color: #2b2b2b;
	text-align: center;
	vertical-align: middle;
}

#content {
	width: 100%;
	height: 500px;
	background-color: #fff;
	padding-top: 50px;
}
#left_twitter_wrap {
	top:554px;
	margin-left: -20px;
	position: absolute;
	z-index:-10px;
}
#tweet_head {	
	top: 572px;
	position:absolute;
	z-index:1000;	
	margin-left: -20px;
}
#tweet_txt {
	font: lighter 27px Steelfish, Arial, Helvetica, sans-serif;	
	color: #2b2b2b;
	top: 575px;
	margin-top: 1px;
	position:absolute;
	z-index:1000;
	
}

#tweet_box{
	padding-left: 25px;
}

#map_box {
	float: right;
	width: 324px;
	height: 310px;
	background: url(imgs/subtle_stripes.png) repeat;
	margin-top: 40px;
	margin-right: 15px;
	
	border-radius: 10px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
#map {
	width: 287px;
	height: 277px;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
}

#sub_footer{
	width:100%;
	height: 85px;
	margin:0px;
	padding:0px;
	position: relative;
	background-color:#000;	
}

footer{
	width:100%;
	height: 85px;
	margin:0px;
	padding:0px;
	position: relative;
	background-color:#2b2b2b;	
}